.Button {
  border: none;
  color: white;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;

  &.primary {
    background-color: #f06292;

    &:hover {
      background-color: #e91e63;
    }

    &:active {
      background-color: #c2185b;
    }
  }

  //&.primary {
  //  background-color: #007bff;
  //}

  &.secondary {
    background-color: #6c757d;
  }

  &.success {
    background-color: #28a745;
  }

  &.danger {
    background-color: #dc3545;
  }

}