.Button {
  border: none;
  color: white;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  border-radius: 5px;

  &.primary {
    background-color: #284086;
  }

  &.secondary {
    background-color: #ffb133;
  }

  &.success {
    background-color: #238636;
  }

  &.danger {
    background-color: #dc3545;
  }

  &.transparent {
    background-color: transparent;
    color: #284086;
    font-size: 16px;
  }

  &.sign {
    margin-top: 20px;
  }
}