.application {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    box-sizing: border-box;
  }

  &__file-upload {
    position: relative;
    margin-bottom: 20px;
  }

  &__file-label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: #007bff;
  }

  &__title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
  }

  &__error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
  }

  &__list {
    margin-top: 40px;
    width: 100%;
    max-width: 500px;
    text-align: center;
  }

  &__list ul {
    list-style: none;
    padding: 0;
  }

  &__list li {
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
