.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;

  &__form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
  }

  &__password-wrapper {
    position: relative;
  }

  &__password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #888;
  }

  &__password-toggle:hover {
    color: #333;
  }

  &__title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
  }

  &__error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
  }
}